/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
    2 General elements
        2.1 About
        2.2 Game
        2.3 Highscore
          2.3.1 Table
    3 Specific sections

    4 Useless elements
 */

// 1.1 Variables
$DM-Header-Background: #3d3d3d;
$DM-Card-Gray: #505050;
$DM-Body-Background: #333;
$Menu-Btn-Gray: #505050;
$DM-Text-Colour: #fefffe;
$Site-Default-Red: #ed0929;
$Site-Darker-Red: rgba(179, 8, 31, 0.5);
$song-info: 30em;

// 2.1 About
.about-sec
{
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 70ch;
  display: revert;
}


// 2.2 Game
.game-sec
{
  background: $DM-Body-Background;
  padding: 2em;
}


//2.3.1 Table
//Gjør at tabellene har rutenett
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 1em;
  }